.btn-search{
    color: #40434E;
    border-color: #FFFFFA;
    background-color: #FFFFFA;
}

.btn-search:focus { 
    background-color: #FFFFFA;
    color: #40434E;
    border-color: #FFFFFA;
    box-shadow: none;
}

.btn-search:hover:focus {
    background-color: #FFFFFA;
    color: #40434E;
    border-color: #FFFFFA;
    box-shadow: none;
}

.btn-white-gray {
    background-color: transparent;
    color: #FFFFFA;
    border-color: #FFFFFA;
}

.btn-white-gray:hover {
    color: #080705;
    border-left-color: #40434E;
    background-color: #FFFFFA;
}

.btn-white-gray:focus {
    background-color: #40434E;
    color: #FFFFFA;
    border-color: #FFFFFA;
    box-shadow: none;
}

.btn-white-gray:hover:focus {
    background-color: #40434E;
    color: #FFFFFA;
    border-color: #FFFFFA;
    box-shadow: none;
}